body {
  font-family: $font-stack--content;
  @include text--md;
  color: $color--text;
  background-color: $color--background;
}

.inverted {
  background-color: $color--primary;
  color: $color--background;
}

main,
header,
footer {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack--header;
  font-weight: $font-weight--header;
  color: $color--secondary;
  margin: $spacing--sm;

  .inverted & {
    background-color: $color--primary;
    color: $color--background;
  }
}

h1 {
  @include text--xxl;
}

h2 {
  @include text--xl;
}

h3 {
  @include text--lg;
}

h4 {
  @include text--md;
}

h5 {
  @include text--sm;
}

h6 {
  @include text--xs;
}

p {
  padding: $spacing--xs 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: all 150ms linear;

  &:hover {
    color: $color--primary;
    text-decoration-thickness: 2px;
  }

  .inverted &:hover,
  .inverted &:focus {
    color: inherit;
  }
}

a[role="button"] {
  display: inline-block;
  padding: $spacing--xs $spacing--sm;
  margin: $spacing--sm;
  border: $border-width--md solid $color--secondary;
  border-radius: $border-radius--md;
  color: $color--secondary;
  text-decoration: none;
  transition: all 150ms linear;

  &:hover,
  &:focus {
    color: $color--background;
    background-color: $color--secondary;
  }

  .inverted & {
    border-color: $color--background;
    color: $color--background;
  }

  .inverted &:hover,
  .inverted &:focus {
    color: $color--primary;
    background-color: $color--background;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    color: $color--text-lighter;
    border-color: $color--text-lighter;
    background-color: $color--background;
  }
}

blockquote {
  padding-top: $spacing--sm;
  padding-bottom: $spacing--sm;
  padding-left: $spacing--md;
  padding-right: $spacing--sm;
  margin: $spacing--sm;
  border-left: $border-width--md solid $color--secondary;
  border-top-right-radius: $border-radius--sm;
  border-bottom-right-radius: $border-radius--sm;
  background-color: $color--background-darker;
  font-style: italic;
}

.container {
  max-width: $width--container;
  margin: 0 auto;
}

.wide-text {
  @include below($breakpoint--lg) {
    padding-left: $spacing--md;
    padding-right: $spacing--md;
  }
}

.full-height {
  height: 100vh;
}

.flex-even {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  position: relative;
  z-index: 2;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    @include below($breakpoint--lg) {
      @include text--xl;
    }
  }
  .title a {
    text-decoration: inherit;
  }

  .subtitle {
    @include below($breakpoint--md) {
      display: none;
    }
  }
}

.about {
  padding-top: $spacing--lg;
  padding-bottom: $spacing--xl;
}

#app {
  overflow: hidden;
  height: 100%;
}
