// Font stacks
$font-stack--default:
  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-stack--header:
  Avenir,
  Helvetica Neue,
  Helvetica,
  sans-serif;
$font-stack--content: $font-stack--default;
$font-weight--header: 200;

$font-size--xs: 0.75rem;
$font-size--sm: 0.875rem;
$font-size--md: 1rem;
$font-size--lg: 1.125rem;
$font-size--xl: 1.25rem;
$font-size--xxl: 1.875rem;

$line-height: 1.75;

// Color schemes
$color--primary: #16a085;
$color--secondary: #3e6889;
$color--tertiary: #e3c076;
$color--background: #fffffe;
$color--background-darker: #f9f9f9;
$color--background-highlight: #e1e1e1;
$color--text: #2c3e50;
$color--text-lighter: #627071;
$color--accent: #0d6e5c; /* Unused */

// Spacing
$width--container: 960px;
$spacing--xxs: 0.125rem;
$spacing--xs: 0.25rem;
$spacing--sm: 0.5rem;
$spacing--md: 1rem;
$spacing--lg: 2rem;
$spacing--xl: 4rem;
$spacing--xxl: 8rem;

// Misc
$border-width--sm: 1px;
$border-width--md: 2.5px;
$border-width--lg: 5px;

$border-radius--sm: 2.5px;
$border-radius--md: 5px;
$border-radius--lg: 10px;

$transition-time--sm: 0.15s;
$transition-time--md: 0.3s;
$transition-time--lg: 0.45s;

$shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.1);

// Breakpoints
$breakpoint--sm: 442px;
$breakpoint--md: 768px;
$breakpoint--lg: 960px;

@mixin below($bp) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}
